.About {
    margin-top: 130px;
}

.About .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 79px;
}

.About-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 43px;
}

.content-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.content-first h2 {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #222;
}

.ctart {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.content-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 625px;
}

.content-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555;
}

.about-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-name h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #222;
}

.about-name p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #555;
    margin-left: 10px;
}

.about-action {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 22px;
}

.next {
    width: 32px;
    height: 32px;
    border: 1px solid #6f6f6f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    width: 32px;
    height: 32px;
    border: 1px solid greenyellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}